<div class="container">
  <div class="row">
    <form class="col s12">

      <div class="input-field col s12 m6 ">
        <input id="first_name" type="text" class="validate" name="first_name" [(ngModel)]="first_name">
        <label for="first_name">Nombre</label>
      </div>

      <div class="input-field col s12 m6 ">
        <input id="last_name" type="text" class="validate" name="last_name" [(ngModel)]="last_name">
        <label for="last_name">Apellido</label>
      </div>

      <div class="input-field col s12 m6 ">
        <input  id="company" type="text" class="validate" name="company" [(ngModel)]="company">
        <label for="company">Empresa</label>
      </div>

      <div class="input-field col s12 m6 ">
        <input  id="mail" type="text" class="validate" name="mail" [(ngModel)]="mail">
        <label for="mail">Correo</label>
      </div>

      <button (click)="mysend()" class="btn waves-effect waves-light bryan" [disabled]="myvalidform ()">Enviar
        <i class="material-icons right">send</i>
      </button>

    </form>
  </div>
</div>
